.layout {
  display: flex;
  flex-direction: column;
}

.page {
  min-height: calc(100dvh - var(--navbar-height) - var(--footer-height) - 2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
