.navbar {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.65rem;
}

.logo {
  position: relative;
  height: 100%;
  width: 19.5rem;
}

.logo__img {
  image-rendering: pixelated;
  translate: 80% 80%;
  scale: 2;
}

.logo__text {
  position: absolute;
  top: 6px;
  left: 65px;

  color: hsl(var(--primary));
  font-size: 2.2rem;
}

@media (max-width: 32rem) {
  .logo__text {
    display: none;
  }
}
